.movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.movie-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.box-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.trailer {
  padding-bottom: 100px;
}

.video-yt {
  background-color: black;
  width: 280px;
  height: auto;
}

.overview {
  max-width: 660px;
  flex-direction: column;
}

.controllers-movieInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 0;
  margin: 25px 8px;
}

.container-description {
  display: flex;
  margin-top: 10%;
}

.container-img-title {
  width: 220px;
  margin-left: 5%;
}

.container-details {
  margin-top: 15%;
  margin-left: 5%;
}

.description-movie {
  margin-left: 8px;
}

.overview {
  min-height: 200px;
  max-width: 600px;
  flex-shrink: 0;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.btn-about {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5px 5px 5px 0;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  border: dashed 0 white;
  -moz-border-radius: 20px 19px 19px 19px;
  -webkit-border-radius: 20px 19px 19px 19px;
  border-radius: 20px 19px 19px 19px;
}

/***************************************** MEDIA QUERY ******************************************/

@media only screen and (max-width: 790px) {
  .imgMovie {
    width: 200px;
    height: auto;
    box-shadow: black;
  }

  .container-img-title {
    flex-shrink: 0;
  }

  .container-description {
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  .imgMovie {
    width: 167px;
    align-content: center;
    height: auto;
    box-shadow: black;
  }

  .container-image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 700px) {
  .imgMovie {
    width: 200px;
    height: auto;
    box-shadow: black;
  }

  .description-movie {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 30px;
  }
  .container-details {
    min-height: 250px;
    max-width: 800px;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
  }
  .container-image {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  .box-img {
    display: flex;
    width: auto;
  }

  .row {
    margin-bottom: 40px;
    margin-top: 15px;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    max-width: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .imgMovie {
    width: 250px;
    height: auto;
    box-shadow: black;
  }
}
